# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
/.idea
/.idea/obligatorioGrupo9Tads.iml
.idea/
obligatorioGrupo9Tads.iml
obligatorio.iml
/resources/
# Ignorar archivos pesados en resources
/resources/*.csv
resources